@model StaticPagedList<AMDM.WEB.Models.SongViewModel>
@using PagedList.Mvc
@using PagedList

    @foreach (AMDM.WEB.Models.SongViewModel s in Model)
            {
        <div class="div-songtable-row">
            <div class="div-songtable-col1">
                <a href="/Home/Song/@s.Id">@s.Name</a>
            </div>
            <div class="div-songtable-col2" align="center">
                @if (@s.VideoLink.StartsWith("http:/"))
                {
                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                }
            </div>
            <div class="div-songtable-col3" align="center">
                @s.Views
            </div>
        </div>
    }

@Html.PagedListPager(Model, page => Url.Action("Performer", new { page }))

