@model AMDM.WEB.Models.PerformerViewModel

@{
    ViewBag.Title = "Performer";
}
@using PagedList.Mvc;
@using PagedList;


<h2>@Model.Name</h2>
<img src="@Model.ImageLink" style="height: 66px; width:66px;">
<div class="performer-container" align="left">
    <hr />
    <div>
        <h4>Биография</h4>
        <p>@Model.BiographyText</p>
    </div>

        <div class="div-songtable-paging">
            Подборы аккордов
            <div class="paging-count" align="right">Композиций на странице:
                <div id="pagin10"><a>10</a></div>
                <div id="pagin15"><a>15</a></div>
                <div id="pagin20"><a>20</a></div>
            </div>
             <div class="paging-nav"></div>             
        </div>
    @{ 
        int page = ViewBag.page;
        int pageSize = ViewBag.pageSize;
        IPagedList Songs = Model.Songs.ToPagedList(page, pageSize);
    }
    
        <div class="div-songtable">
            <div class="div-songtable-header">
                <div class="div-songtable-col1">Название композиции</div>
                <div class="div-songtable-col2" align="center">Видео</div>
                <div id="views-sort" class="div-songtable-col3" align="center"> <a>Просмотров</a><div class="arrow"></div></div>
            </div>
            <div id="song-pagination" class="div-songtable">
                @Html.Partial("PartialSongList", Songs)
            </div>
        </div>
</div>

<script type="text/javascript">

    window.addEventListener("popstate", function (e) {
        $.ajax({
            url: location.href,
            success: function (result) {
                $('#song-pagination').html(result);
            }
        });
    });

        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(null, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        $(function () {
            var currentPageSize = '&pageSize=' + 10;

            $('body').on('click', '#song-pagination .pagination a', function (event) {
                event.preventDefault();
                console.log('page');
                var url = $(this).attr('href');
                url = url + currentPageSize;
                console.log(url);
                $.ajax({
                    url: url,
                    success: function (result) {
                        ChangeUrl('index', url);
                        $('#song-pagination').html(result);
                    }
                });
            });

            $('body').on('click', '#pagin20', function (event) {
                currentPageSize = '&pageSize=' + 20;
                event.preventDefault();
                var url = '/Home/Performer/@Model.Id?' + currentPageSize;
                console.log(url);
                $.ajax({
                    url: url,
                    success: function (result) {
                        ChangeUrl('index', url);
                        $('#song-pagination').html(result);
                    }
                });
                $('#views-sort').find("div").attr("class", "arrow");
            });
            $('body').on('click', '#pagin15', function (event) {
                currentPageSize = '&pageSize=' + 15;
                event.preventDefault();
                var url = '/Home/Performer/@Model.Id?' + currentPageSize;
                console.log(url);
                $.ajax({
                    url: url,
                    success: function (result) {
                        ChangeUrl('index', url);
                        $('#song-pagination').html(result);
                    }
                });
                $('#views-sort').find("div").attr("class", "arrow");
            });
            $('body').on('click', '#pagin10', function (event) {
                currentPageSize = '&pageSize=' + 10;
                event.preventDefault();
                var url = '/Home/Performer/@Model.Id?' + currentPageSize;
                console.log(url);
                $.ajax({
                    url: url,
                    success: function (result) {
                        ChangeUrl('index', url);
                        $('#song-pagination').html(result);
                    }
                });
                $('#views-sort').find("div").attr("class", "arrow");
            });

            $('body').on('click', '#views-sort', function (event) {
                event.preventDefault();
                var currentSortOption = getUrlVars()['sortOption'];
                var sort;
                switch (currentSortOption) {
                    case "views_acs":
                        sort = 'sortOption=views_desc';
                        $('#views-sort').find("div").attr("class", "arrow-down");
                    break;
                    case "views_desc":
                        sort = 'sortOption=views_acs';
                        $('#views-sort').find("div").attr("class", "arrow-up");
                    break;
                default:
                    sort = '';
                    break;
                }
                if (currentSortOption != 'views_acs' && currentSortOption != 'views_desc') {
                    sort = 'sortOption=views_acs';
                    $('#views-sort').find("div").attr("class", "arrow-up");
                }
                if (sort != '') {
                    sort = '&' + sort;
                }
                var url = '/Home/Performer/@Model.Id?' + sort + currentPageSize;
                $.ajax({
                    url: url,
                    success: function(result) {
                        ChangeUrl('index', url);
                        $('#song-pagination').html(result);
                    }
                });
            });

        });

</script>